pandas>=2.1.4
numpy>=1.26.3
scikit-learn>=1.3.0
xgboost>=2.0.3
torch>=2.0.0
shap>=0.44.1
matplotlib>=3.8.0
seaborn==0.13.2
plotly==5.18.0
streamlit>=1.40.0
optuna==3.5.0
scipy>=1.12.0
tqdm>=4.66.2
joblib>=1.3.2
pyarrow>=15.0.0
requests==2.31.0
boto3==1.34.0
psutil==5.9.8
azure-identity==1.15.0
azure-monitor-query==1.3.0
Pillow>=10.2.0
